# Application
PORT=3000

# Database
DATABASE_URL="postgres://<DB_USER>:<DB_PASSWORD>@<DB_HOST>:<DB_PORT>/<DB_NAME>?schema=public"

# JWT Authentication
JWT_SECRET="<your_jwt_secret>"
Salt_Or_Rounds=10
JWT_EXPIRY_TIME=100000s

# Cloudinary
CLOUDINARY_CLOUD_NAME="dgbjpy7ev"
CLOUDINARY_API_KEY="278248299317886"
CLOUDINARY_API_SECRET="SPNdGFXd24YKWqQF5aH6sWAS_ek"
